{% extends 'shop/base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}
    Cadastro| Novo usuário
{% endblock %}

{% block content %}
  <div class="form-group col-md-7"
       style="background-color:pink; margin-left: 5%; flex-basis:100px; ">
    <h3>Novo cadastro</h3>
        <form id="register_user" action="." method="post" role="form"
        style="display: flex; flex-wrap: wrap;">
         {% csrf_token %}<br>
         {{ form|as_bootstrap }}
                {{ field.label_tag }}<br>
                {{ field }}<br>
           {% for error in field.errors %}
             <p style="color: red">{{ error }}</p>
           {% endfor %}
        </form>
           <p><br><button type="submit" class="btn btn-primary">Cadastrar</button></p>
        </div>
    {% endblock %}
