{% extends 'shop/base.html' %}
{% load static %}
{% load bootstrap_tags %}
{% block title %}
    Cadastro | Novo usuário
{% endblock %}

{% block content %}
  <div class="form-group col-md-7" style="margin-left: 5%; flex-basis:100px;">
    <h3 style="color: grey;">Novo cadastro</h3>
        <form id="register_user" action="." method="post" role="form"
        style="display: flex; flex-wrap: wrap;">
         {% csrf_token %}<br>
         {{ form|as_bootstrap }}
                {{ field.label_tag }}<br>
                {{ field }}<br>
           {% for error in field.errors %}
             <p style="color: red">{{ error }}</p>
           {% endfor %}
        <input type="submit" class="btn btn-info pull-right menu" value="Cadastrar"
               style="margin-top: 1%; margin-left: 1.5%; max-width: 120px; max-height: 60px;">
        </form>
        </div>
    {% endblock %}
